@model IEnumerable<CineplexCinemas.Models.Booking>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cineplxId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.movieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfAdults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numberOfConc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sessionId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cineplxId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movieId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfAdults)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.numberOfConc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sessionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
